{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="row mt-4">
        <div class="col">
            <a href="{% url 'create-product' %}" class="btn text-white float-end" style="background-color: #440310"><i
                    class="bi bi-plus-circle-fill me-2"></i>Add New Product
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.price }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No products found.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock content %}