{% load static %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    {% load static %}

    <head>
        {% include 'includes/simple-head.html' %}
        <style>
            body {
                background-color: #FAEFE6;
            }
        </style>
    </head>
    <main class="content">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" style="height: 100vh">
                <div class="col-6 text-center">
                    <title>Thank You</title>
                    <link rel="stylesheet" type="text/css" href="{% static 'css/order_success.css' %}">
                    <h1>Thank You for Your order!</h1>

                    <p class="shipping-text">Shipping it right away!</p>

                    <a href="{% url 'shop' %}" class="btn btn-success">Continue Shopping</a>
                </div>
            </div>
        </div>
    </main>
    {% include 'includes/scripts.html' %}
    <body>

{% endblock %}
