<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    {% include 'includes/simple-head.html' %}
</head>

<main class="content">
    <div class="container-fluid d-flex justify-content-center align-items-center text-center" style="height: 100vh">
        <div class="row">
            <div class="col">
                <h1 class="mb-4">Welcome to</h1>
                <div class="mb-4">
                    <img width="300px" src="{% static 'img/logo.png' %}" alt="Logo">
                </div>
                <h1 class="text-uppercase">Africrafts</h1>
                <h4 class="mb-4">Shop Unique, Shop African with Africrafts</h4>
                <a href="{% url 'artisan-dashboard' %}" class="btn btn-dark btn-lg">
                    Click here to continue
                    <span class="bi bi-chevron-double-right"></span>
                </a>
            </div>
        </div>
    </div>
</main>

{% include 'includes/scripts.html' %}
<body>