<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<title>Artisan - signup</title>
	</head>
	<body>
		<div class="form-container">
			<h2>Sign up</h2>
			<form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="form-group">{{ error }}</div>
                {% endfor %}
                {% endif %}


                {% if error %}
                    <div class="form-group">{{ error }}</div>
                {% endif %}

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" required />
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" required/>
				</div>

                <div class="form-group">
                    <label for="repeat_password">Repeat password</label>
                    <input type="password" id="repeat_password" name="repeat_password" required>
                </div>

                <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" id="description" name="description" required>
                </div>


				<button type="submit">Sign Up</button>

				<div class="form-group">
					Need a user account?
					<a href={% url 'customer_signup' %}>sign up</a>
				</div>
			</form>
		</div>
	</body>
</html>
