{% load static %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    {% load static %}

    <head>
        {% include 'includes/simple-head.html' %}
        <style>
            body {
                background-color: #FAEFE6;
            }
        </style>
    </head>

    {% include 'includes/navinfo.html' %}
    

    <div class="jumbotron" style="background: linear-gradient(88.25deg, #E35C02 83.77%, rgba(227, 92, 2, 0) 94.56%);">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col px-0">
                    <div class="mx-4 text-light">
                        <h1 class="h1">From Artisans, to You: Shop Unique, Handmade Crafts</h1>
                        <h6 class="h6 mb-4"> Bringing Africa to your doorstep, your #1 online shop for quality authentic
                            African Souvenir .</h6>
                        <div class="d-flex flex-column flex-sm-row gap-2">
                            <a href="{% url 'shop' %}" class="btn btn-lg btn-light fw-bold mb-2">SHOP NOW</a>
                            <a href="{% url 'artisan-home' %}" class="btn btn-lg fw-bold mb-2"
                               style="background-color: #FFC404">START SELLING</a>
                        </div>
                        <p class="mt-2">*We deliver worldwide</p>
                    </div>
                </div>
                <div class="col px-0">
                    <img class="d-none d-sm-block" width="100%" src="{% static 'img/img1.png' %}" alt="Image 1">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col px-0">
                <div class="px-4">
                    <h3 style="color: #AD0214">WHY AFRICRAFTS?</h3>
                    <h1>ABOUT US</h1>
                    <p>
                        Welcome to Africrafts, an online platform that connects African artisans
                        with buyers from around the world. We believe that African artisans create
                        some of the most beautiful and unique crafts in the world, and we are
                        dedicated to helping them share their talents with a wider audience. By
                        providing a marketplace for these artisans to sell their products, we hope
                        to empower them economically and culturally, while also introducing the
                        world to the rich and diverse cultural heritage of Africa.
                    </p>
                </div>
            </div>
            <div class="col px-0">
                <img width="100%" src="{% static 'img/potter.jpg' %}"/>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col px-0">
                <img width="100%" src="{% static 'img/baskets.jpg' %}"/>
            </div>
            <div class="col px-0">
                <div class="px-4">
                    <h1>OUR COMMITMENT</h1>
                    <p>
                        At Africrafts, we are committed to promoting fair trade practices and
                        ensuring that our artisans receive a fair price for their products. By
                        supporting our platform, you are not only purchasing beautiful and
                        authentic African crafts, but also supporting sustainable economic
                        development in Africa. We work closely with our artisans to ensure that
                        their crafts meet our high standards of quality, and we are constantly
                        seeking out new and innovative ways to promote their work. Whether you are
                        looking for handcrafted jewelry, textiles, pottery, or other unique items,
                        you will find something to love on Africrafts.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center" style="background-image: url('{% static 'img/landing_background.png' %}')">
        <div class="container">
            <div class="row">
            <div class="col">
                <h4 class="mb-4" style="color: #AD0214">Start Selling your Handmade Crafts Online Today!</h4>
                <h3 class="text-uppercase fw-bolder mb-4">From local market, to Global market</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="rounded" width="50%" src="{% static 'img/store1.png' %}"/>
                <p class="fw-bold">
                    Open your store for free, upload your merchandise, add a brief description and the price and publish
                    to the world.
                    Let AfriCrafts sell your crafts across the globe
                </p>
            </div>
            <div class="col">
                <img class="rounded" width="50%"  src="{% static 'img/growth1.png' %}"/>
                <p class="fw-bold">
                    Start watching your sales grow as you tap into the global market. AfriCrafts online marketplace is
                    where local sellers connect with international buyers looking for unique African artifacts
                </p>
            </div>
            <div class="col">
                <img class="rounded" width="50%"  src="{% static 'img/advertise1.png' %}"/>
                <p class="fw-bold">
                    Advertise your crafts digitally. Africrafts aids artisans to market their crafts digitally on our
                    platform and other social media platform
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="rounded" width="50%"  src="{% static 'img/connect1.png' %}"/>
                <p class="fw-bold">
                    Connect with artisans from across Africa and gain insight into their unique techniques and design
                    inspirations.
                    Share stories and experiences, and gain a deeper appreciation for the cultural significance of their
                    craft..
                </p>
            </div>
            <div class="col">
                <img class="rounded" width="50%"  src="{% static 'img/international1.png' %}"/>
                <p class="fw-bold">
                    Gain international exposure by representing your culture through Africrafts at major international
                    tourism and cultural events.. Join us in celebrating the rich cultural heritage of Africa and
                    supporting local artisans and communities.e
                </p>
            </div>
            <div class="col">
                <img class="rounded" width="50%"  src="{% static 'img/business1.png' %}"/>
                <p class="fw-bold">
                    Enjoy business and entrepreneurial skills with our international experts, who facilitate marketing
                    training to support the growth of your business. At Africrafts, we are committed to empowering local
                    communities through entrepreneurship and innovation.
                </p>
            </div>
        </div>
        </div>
    </div>
    {% include 'includes/scripts.html' %}
    <body>

{% endblock %}